@import './base.scss';

.header {
	height: 120px;
	background-image: linear-gradient(to bottom, #f43e2c, #fe6433);
	&__navbar {
		display: flex;
		justify-content: space-between;
		&-list {
			list-style: none;
			padding-left: 0;
			margin-top: 4px;
		}
		&-item {
			margin: 0 8px;
			position: relative;
			font-size: 1.4rem;
			font-weight: 300;
			color: $white-color;
			min-height: 26px;
			&--seperate::after {
				position: absolute;
				display: block;
				content: '';
				width: 1.5px;
				height: 12px;
				top: 50%;
				transform: translateY(-50%);
				right: -9px;
				background: #fc9086;
			}
			&--hover:hover {
				.header__qr {
					display: block;
				}
			}
			&--notify-hover:hover {
				.header__notify {
					display: block;
				}
			}
			&--strong {
				font-weight: 400;
			}
			&:hover {
				color: rgba(256, 256, 256, 0.6);
				cursor: pointer;
			}

			&,
			&-link {
				display: inline-block;
				text-decoration: none;
				color: $white-color;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				column-gap: 4px;
				&:hover {
					color: rgba(256, 256, 256, 0.6);
				}
			}

			.item__icon {
				width: 18px;
				height: 18px;
			}
		}
	}
}

.header__qr {
	width: 186px;
	height: 210px;
	background-color: $white-color;
	position: absolute;
	padding: 8px;
	top: 30px;
	display: none;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);

	@include keyframes(fade) {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	animation: fade 0.3s ease;
	&:hover {
		display: block;
	}
	&:before {
		content: '';
		width: 100%;
		height: 15px;
		display: block;
		position: absolute;
		top: -10px;
	}

	&-img {
		width: 170px;
	}
	&-apps {
		display: flex;
		justify-content: space-between;
		img {
			height: 16px;
		}
	}
}

.header__notify {
	color: $text-color;
	position: absolute;
	width: 400px;
	top: 30px;
	right: 0;
	background-color: $white-color;
	border-radius: 2px;
	border: 1px solid $gray-color--1250;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);
	display: none;
	transform-origin: 100% 0%;
	animation: notifyGrowth 0.2s ease-out;
	will-change: opacity, transform;
	@include keyframes(notifyGrowth) {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	// Notify top right angle
	&::before {
		content: '';
		border-width: 20px 27px;
		border-style: solid;
		border-color: transparent transparent $white-color transparent;
		position: absolute;
		right: 5px;
		top: -29px;
	}
	&::after {
		content: '';
		width: 100%;
		height: 20px;
		position: absolute;
		top: -15px;
	}

	&-name {
		color: $gray-color--900;
		padding-left: 12px;
		cursor: default;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	&-description {
		span {
			display: block;
		}

		.description__item {
			padding: 12px;
			display: grid;
			grid-template-columns: 47px auto;
			grid-template-rows: auto;
			grid-template-areas:
				'sidebar main-top'
				'sidebar main-bottom';
			background-color: rgba(238, 75, 43, 0.05);

			&:hover {
				background-color: $white-color;
			}
			&-title {
				font-size: 1.4rem;
				font-weight: 400;
				line-height: 1.8rem;
				margin-bottom: 4px;
				grid-area: main-top;
			}
			&-content {
				color: #756f6e;
				grid-area: main-bottom;
			}
			&-img {
				width: 35px;
				height: 54px;
				object-fit: cover;
				grid-area: sidebar;
				align-self: center;
			}
		}
	}
	&-footer {
		text-align: center;
		font-weight: 400;
	}
}

.header__search {
	.header__logo {
		width: 100px;
	}
}

// Authentication Container
.auth-form {
	width: 500px;
	background: $white-color;
	border-radius: 4px;
	overflow: hidden;
	@include keyframes(modalGrowth) {
		0% {
			opacity: 0;
			transform: scale(0);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
	animation: modalGrowth 0.3s ease;

	&-container {
		padding: 20px 28px;
		&__header {
			display: flex;
			justify-content: space-between;
			margin: 16px 0 36px;
			padding: 0 12px;
			.heading {
				font-size: 2.2rem;
				text-decoration: none;
				color: $black-color;
			}
			.switch-btn {
				font-size: 1.6rem;
				color: $primary-color;
				cursor: pointer;
			}
		}
		&__form {
			.input-group {
				&__input {
					width: 100%;
					height: 40px;
					border: 1px solid $gray-color--1000;
					border-radius: 2px;
					outline-color: $gray-color--1000;
					margin: 7px 0;
					padding: 0 12px;
					font-size: 1.4rem;
				}
			}
		}
		&__policy {
			font-size: 1.4rem;
			margin-bottom: 100px;
			.policy-text {
				line-height: 2rem;
				text-align: center;
				padding: 0 12px;

				a {
					text-decoration: none;
					color: $primary-color;
				}
			}
		}
		&__help {
			font-size: 1.4rem;
			margin-bottom: 100px;
			margin-top: 10px;
			&--align-right {
				text-align: right;
				padding: 0;
			}
			&--seperate {
				height: 100%;
				border-left: 1px solid $gray-color--1000;
			}
			a {
				text-decoration: none;
				color: $primary-color;
				padding: 10px 5px 10px 7px;
			}

			.need-help {
				color: $gray-color--900;
			}
		}
		&__controls {
			display: flex;
			justify-content: flex-end;
			column-gap: 10px;
		}
	}
	&__social {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $gray-color--1250;
		column-gap: 5px;
		&--login {
			justify-content: space-between;
			padding: 0 30px;
		}
		&-item {
			height: 30px;
			width: 220px;
			background-color: #fff;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&--login {
				width: 140px;
				border-radius: 4px;
			}
			&--facebook {
				background-color: #3a5a98;
				color: $white-color;
			}
			&--sms {
				background-color: #30c241;
				color: $white-color;
			}
			.social-item__text {
				flex: 1;
				text-align: center;
			}
		}
	}
}
