@import './base.scss';

.header {
	height: 120px;
	background-image: linear-gradient(to bottom, #f43e2c, #fe6433);
	&__navbar {
		display: flex;
		justify-content: space-between;
		&-list {
			list-style: none;
			padding-left: 0;
			margin-top: 4px;
		}
		&-item {
			margin: 0 8px;
			position: relative;
			font-size: 1.4rem;
			font-weight: 300;
			color: $white-color;
			min-height: 26px;
			&--seperate::after {
				position: absolute;
				display: block;
				content: '';
				width: 1.5px;
				height: 12px;
				top: 50%;
				transform: translateY(-50%);
				right: -9px;
				background: #fc9086;
			}
			&--hover:hover {
				.header__qr {
					display: block;
				}
			}
			&--strong {
				font-weight: 400;
			}
			&:hover {
				color: rgba(256, 256, 256, 0.6);
				cursor: pointer;
			}

			&,
			&-link {
				display: inline-block;
				text-decoration: none;
				color: $white-color;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				column-gap: 4px;
				&:hover {
					color: rgba(256, 256, 256, 0.6);
				}
			}

			.item__icon {
				width: 18px;
				height: 18px;
			}
		}
	}
}

.header__qr {
	width: 186px;
	height: 210px;
	background-color: $white-color;
	position: absolute;
	padding: 8px;
	top: 30px;
	display: none;
	@include keyframes(fade) {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	animation: fade 0.5s ease;
	&:hover {
		display: block;
	}
	&:before {
		content: '';
		width: 100%;
		height: 15px;
		display: block;
		position: absolute;
		top: -10px;
	}

	&-img {
		width: 170px;
	}
	&-apps {
		display: flex;
		justify-content: space-between;
		img {
			height: 16px;
		}
	}
}
