@import './base.scss';

.header {
	height: 120px;
	background-image: linear-gradient(to bottom, #f43e2c, #fe6433);
	&__navbar {
		display: flex;
		justify-content: space-between;
		&-list {
			list-style: none;
			padding-left: 0;
			margin-top: 4px;
		}
		&-item {
			margin: 0 8px;
			position: relative;
			font-size: 1.4rem;
			font-weight: 300;
			color: $white-color;
			min-height: 26px;
			&--seperate::after {
				position: absolute;
				display: block;
				content: '';
				width: 1.5px;
				height: 12px;
				top: 50%;
				transform: translateY(-50%);
				right: -9px;
				background: #fc9086;
			}
			&--hover:hover {
				.header__qr {
					display: block;
				}
			}
			&--notify-hover:hover {
				.header__notify {
					display: block;
				}
			}
			&--strong {
				font-weight: 400;
			}
			&:hover {
				color: rgba(256, 256, 256, 0.6);
				cursor: pointer;
			}

			&,
			&-link {
				display: inline-block;
				text-decoration: none;
				color: $white-color;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				column-gap: 4px;
				&:hover {
					color: rgba(256, 256, 256, 0.6);
				}
			}

			.item__icon {
				width: 18px;
				height: 18px;
			}
		}
	}
}

.header__qr {
	width: 186px;
	height: 210px;
	background-color: $white-color;
	position: absolute;
	padding: 8px;
	top: 30px;
	display: none;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);

	@include keyframes(fade) {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	animation: fade 0.3s ease;
	&:hover {
		display: block;
	}
	&:before {
		content: '';
		width: 100%;
		height: 15px;
		display: block;
		position: absolute;
		top: -10px;
	}

	&-img {
		width: 170px;
	}
	&-apps {
		display: flex;
		justify-content: space-between;
		img {
			height: 16px;
		}
	}
}

.header__notify {
	color: $text-color;
	position: absolute;
	width: 400px;
	top: 30px;
	right: 0;
	background-color: $white-color;
	border-radius: 2px;
	border: 1px solid $gray-color--1250;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);
	display: none;
	transform-origin: 100% 0%;
	// Notify top right angle
	&::before {
		content: '';
		border-width: 20px 27px;
		border-style: solid;
		border-color: transparent transparent $white-color transparent;
		position: absolute;
		right: 5px;
		top: -29px;
	}
	@include keyframes(fade) {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	animation: fade 0.2s ease-out;
	&-name {
		color: $gray-color--900;
		padding-left: 12px;
		cursor: default;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	&-description {
		span {
			display: block;
		}

		.description__item {
			padding: 12px;
			display: grid;
			grid-template-columns: 47px auto;
			grid-template-rows: auto;
			grid-template-areas:
				'sidebar main-top'
				'sidebar main-bottom';
			background-color: rgba(238, 75, 43, 0.05);

			&:hover {
				background-color: $gray-color--1250;
			}
			&-title {
				font-size: 1.4rem;
				font-weight: 400;
				line-height: 1.8rem;
				margin-bottom: 4px;
				grid-area: main-top;
			}
			&-content {
				color: #756f6e;
				grid-area: main-bottom;
			}
			&-img {
				width: 35px;
				height: 54px;
				object-fit: cover;
				grid-area: sidebar;
				align-self: center;
			}
		}
	}
	&-footer {
		text-align: center;
		font-weight: 400;
	}
}
