* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  height: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f43e2c), to(#fe6433));
  background-image: linear-gradient(to bottom, #f43e2c, #fe6433);
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  min-height: 26px;
}
.header__navbar-item--seperate::after {
  position: absolute;
  display: block;
  content: "";
  width: 1.5px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -9px;
  background: #fc9086;
}
.header__navbar-item--hover:hover .header__qr {
  display: block;
}
.header__navbar-item--notify-hover:hover .header__notify {
  display: block;
}
.header__navbar-item--strong {
  font-weight: 400;
}
.header__navbar-item:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.header__navbar-item, .header__navbar-item-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.header__navbar-item:hover, .header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.header__navbar-item .item__icon {
  width: 18px;
  height: 18px;
}

.header__qr {
  width: 186px;
  height: 210px;
  background-color: #fff;
  position: absolute;
  padding: 8px;
  top: 30px;
  display: none;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__qr:hover {
  display: block;
}
.header__qr:before {
  content: "";
  width: 100%;
  height: 15px;
  display: block;
  position: absolute;
  top: -10px;
}
.header__qr-img {
  width: 170px;
}
.header__qr-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__qr-apps img {
  height: 16px;
}

.header__notify {
  color: #333;
  position: absolute;
  width: 400px;
  top: 30px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #f7f7f7;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.03);
  display: none;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-animation: notifyGrowth 0.2s ease-out;
          animation: notifyGrowth 0.2s ease-out;
  will-change: opacity, transform;
}
@-webkit-keyframes notifyGrowth {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes notifyGrowth {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.header__notify::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 5px;
  top: -29px;
}
.header__notify::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: -15px;
}
.header__notify-name {
  color: #999;
  padding-left: 12px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.header__notify-description span {
  display: block;
}
.header__notify-description .description__item {
  padding: 12px;
  display: grid;
  grid-template-columns: 47px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main-top" "sidebar main-bottom";
  background-color: rgba(238, 75, 43, 0.05);
}
.header__notify-description .description__item:hover {
  background-color: #fff;
}
.header__notify-description .description__item-title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 4px;
  grid-area: main-top;
}
.header__notify-description .description__item-content {
  color: #756f6e;
  grid-area: main-bottom;
}
.header__notify-description .description__item-img {
  width: 35px;
  height: 54px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: sidebar;
  align-self: center;
}
.header__notify-footer {
  text-align: center;
  font-weight: 400;
}